<h1>New addition</h1>

<form action="/wizard_add">
  <label for="form_first_number">
    First number:
  </label>
  <input id="form_first_number" name="first_num" type="text">

  <label for="form_second_number">
    Second number:
  </label>
  <input id="form_second_number" name="second_num" type="text">

  <button type="submit">
    Add!
  </button>

<label for="form_second_number">
    To this:
  </label>

  <label for="form_second_number">
    Add this:
  </label>

</form>
