<h1>New addition</h1>

<form action="/wizard_add">
  <label for="form_first_number">
    Add this:
  </label>
  <input id="form_first_number" name="first_num" type="text"> <!-- Corrected the input name and type -->

  <button type="submit"> <!-- Added type attribute for the button -->
    Add!
  </button>
</form>
